extends layout

block content
  .container
    h1 This is the topic #{topic.name} by #{topic.author}
    h2 Posts for this topic
    if posts.length
      ul
        each post in posts
          li 
            a(href="/post/#{post._id}") #{post.name} 
            | by #{post.author}: "#{post.text}" posted on #{post.date} 
            | in the topic 
            a(href="/topic/#{topic._id}") #{topic.name}
    else
      p This topic has no posts.
